<label class="text-xs font-bold uppercase text-gray-400 tracking-widest">Division (Elo restrictions)</label>
<select name="divisionIds[]" multiple id="divisionIdSelect" class="w-full bg-black/40 border border-white/5 rounded-xl p-4 text-white focus:outline-none focus:ring-1 focus:ring-white transition-all h-24 custom-scrollbar" required>
    {{range .Divisions}}
        {{if or (ne .MinElo 0) (not (eq .MaxElo nil))}}
        <option value="{{.ID}}">{{.Name}} ({{.MinElo}}{{if .MaxElo}} - {{.MaxElo}}{{else}}+{{end}} Elo)</option>
        {{end}}
    {{end}}
</select>
