{{ define "players-row" }}
<tr id="player-{{ .ID }}">
    <td class="border px-4 py-2">{{ .Name }}</td>
    <td class="border px-4 py-2">{{ .Sex }}</td>
    <td class="border px-4 py-2">{{ .Country }}</td>
    <td class="border px-4 py-2">{{ .City }}</td>
    <td class="border px-4 py-2">{{ .Birthdate }}</td>
    <td class="border px-4 py-2">{{ .Elo }}</td>
    <td class="border px-4 py-2 text-center space-x-2">
        <button class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" hx-get="/players/form/{{ .ID }}"
            hx-target="#form-toggle" hx-swap="innerHTML">
            Editar
        </button>

        <!-- Eliminar con confirm -->
        <button class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded" hx-delete="/players/{{ .ID }}"
            hx-target="#player-{{ .ID }}" hx-swap="delete" hx-confirm="¿Seguro que deseas eliminar este jugador?">
            Eliminar
        </button>
    </td>
</tr>
{{ end }}
