<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
        integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
        crossorigin="anonymous"></script>
    <meta name="csrf-token" content="{{ .CSRF}}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('htmx:configRequest', function (event) {
                const token = document.querySelector('meta[name="csrf-token"]').content;
                event.detail.headers['X-Csrf-Token'] = token;
            });
        });
        document.addEventListener("open-delete", e => {
            console.log("Evento recibido ✅", e.detail.url);
        });
    </script>

</head>

<body class="bg-gray-100 text-gray-900 flex h-screen">
    {{ if .User.Username }}
    {{ template "aside" . }}
    {{ end }}

    <!-- Main content -->
    <main id="main-content" class="flex-1 overflow-auto p-6">
        {{ embed }}
    </main>
    {{ template "modal" . }}
</body>

</html>
